@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gramatika';
  src: url('../fonts/Gramatika-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* 
@font-face {
  font-family: "RalewayRegular"; 
  src: url("../fonts/RalewayRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  }  */
    


/* @font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton-SemiBold.eot');
  src: local('Panton SemiBold'), local('Panton-SemiBold'),
      url('../fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Panton-SemiBold.woff') format('woff'),
      url('../fonts/Panton-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */
