@import "blocks/sidebar.css";
@import "blocks/header.css";
@import "blocks/tabs.css";
@import "blocks/slider.css";
@import "blocks/profile.css";
@import "blocks/cards.css";
@import "blocks/services.css";
@import "blocks/products.css";
@import "blocks/payment.css";
@import "blocks/indications.css";
@import "blocks/last-operation.css";
@import "blocks/footer.css";

/* Основные настройки */
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Gramatika", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  color: #003A9E;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #003A9E;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Обертка сайдбара и основного контента */
.main-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* На этом блоке висит фон с белой, синей, оранжевой фигурами */
.main-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url("../img/bg/orange-figure.svg") no-repeat 0 121px,
              url("../img/bg/white-figure.svg") no-repeat 0 415px,
              url("../img/bg/blue-figure.svg") no-repeat 0 94px;

  -webkit-transform: rotate(180deg);

      -ms-transform: rotate(180deg);

          transform: rotate(180deg);
}

.container {
  width: 76.146%;
  min-height: 100%;
  margin: 0 3.073% 0 399px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* Затемнение основного фона */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 102;
  cursor: pointer;
}

/* Заголовки секций */
.block-title {
  margin: 0 0 0 34px;

  font-size: 30px;
  font-weight: 700;
}

/* обертка на главной для слайдера и профиля */
.entry-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

/* Хлебные крошки */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 43px 0 0 34px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #233D9A;
}

.breadcrumbs li a:hover,
.breadcrumbs li a:focus,
.breadcrumbs li .active {
  color: #47A9FF;
  border-bottom: 1px solid #47A9FF;
}

.breadcrumbs li::after {
  content: "/";
  margin: 0 3px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

/* min-width: 1550px; */
@media screen and (max-width: 1919px) {
  .container {
    margin-right: 2%
  }
}

/* min-width: 1220px; */
@media screen and (max-width: 1549px) {
  /* Обертка сайдбара и основного контента
   * на этом блоке висит фон с белой, синей, оранжевой фигурами
   */
  .main-wrapper::after {
    background-position: 0 193px, -33px 320px, -66px 94px;
  }

  .container {
    margin-left: 340px;
  }

  /* Обертка для слайдера и профиля на главной */
  .entry-wrapper {
    margin-top: 30px;
  }

  /* Заголовки блоков */
  .block-title {
    margin-left: 14px;

    font-size: 28px;
  }
}

/* min-width: 1024px */
@media screen and (max-width: 1219px) {
  .container {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* min-width: 768px */
@media screen and (max-width: 1023px) {
  .container {
    max-width: 868px;
  }

  /* Обертка для слайдера и профиля на главной */
  .entry-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* min-width: 480px */
@media screen and (max-width: 767px) {
  .container {
    max-width: 580px;
  }
}

/* min-width: 320px */
@media screen and (max-width: 479px) {
  .container {
    max-width: 320px;
  }

  /* Обертка для слайдера и профиля на главной */
  .entry-wrapper {
    margin-top: 15px;
  }
}