.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 90px 0 66px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #233D9A;
}

.footer-copyright {
  margin: 0 59px 0 32px;
}

.footer-copyright a {
  color: #233D9A;
}

.footer-contacts a {
  color: #233D9A;
}

/* min-width: 480px */
@media screen and (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }

  .footer-copyright {
    margin:0 auto 0 0;
  }
}

/* min-width: 320px */
@media screen and (max-width: 479px) {
  .footer {
    font-size: 12px;
  }
}