.last-operation {
  margin-top: 23px;
}

.last-operation-table-wrapper {
  margin-top: 17px;

  box-shadow: 0px 10px 30px #2F83DE33;
  border-radius: 20px;
  background-color: #ffffff;
}

.last-operation-table {
  width: 100%;

  border-collapse: collapse;
  border: none;
}

.last-operation-table th {
  color: #47A9FF;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 500;
}

.last-operation-table tbody tr {
  border-top: 1px solid #b0b8ff;
}

.last-operation-table td {
  padding: 30px 16px 29px;
}

.last-operation-table th {
  padding: 10px 16px;
}

/* ячейки в таблице последние операции */

/* дата */
.last-operation-table .last-operation-date-head,
.last-operation-table .last-operation-date {
  width: 13.4%;
  padding-left: 32px;
}

.last-operation-table .last-operation-date {  
  color: #47A9FF;
  font-weight: 500;
}

/* название */
.last-operation-table .last-operation-name-head,
.last-operation-table .last-operation-name {
  width: 26.45%;
  padding-left: 28px;
}

.last-operation-table .last-operation-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #233D9A;
}

/* услуга товар оплата */
.last-operation-table .last-operation-service-head {
  width: 28.19%;
  padding-left: 22px;
}

.last-operation-table .last-operation-service {
  padding-left: 47px;
  width: 28.19%;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #233D9A;

  background-repeat: no-repeat;
  background-position: 17px center;
  background-size: 24px;
}

/* сумма */
.last-operation-table .last-operation-amount-head,
.last-operation-table .last-operation-amount {
  width: 16.8%;
  padding-left: 15px;
}

.last-operation-table .last-operation-amount {
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #233D9A;
}

/* повторить */
.last-operation-table .last-operation-repeat {
  padding-left: 49px;

  color: #47A9FF;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  background: url("../../img/last-operation/repeat.svg") no-repeat 17px center;
  background-size: 24px;
}

/* закругление у крайних ячеек таблицы */
.last-operation-table tbody tr:first-child td:first-child {
  border-top-left-radius: 20px;
}

.last-operation-table tbody tr:first-child td:last-child {
  border-top-right-radius: 20px;
}

.last-operation-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.last-operation-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

/* иконки для таблицы */

.last-operation-table .last-operation-plumbing-work {
  background-image: url("../../img/services/icon-plumbing-work.svg");
}

.last-operation-table .last-operation-electricity {
  background-image: url("../../img/payment/icon-electricity.svg");
}

.last-operation-table .last-operation-mobile-phone {
  background-image: url("../../img/payment/icon-mobile-phone.svg");
}

.last-operation-table .last-operation-product {
  background-image: url("../../img/sidebar/icon-sidebar-goods.svg");
}

/* min-width: 1550px */
@media screen and (max-width: 1919px) {
  .last-operation-table .last-operation-service {
    background-position: 5px center;
  }

    /* Ячейки с датой */
    .last-operation-table .last-operation-date-head,
    .last-operation-table .last-operation-date {
      width: 15.4%;
    }
}

/* min-width: 1220px */
@media screen and (max-width: 1549px) {
  /* Таблица последние операции на главной */
  .last-operation-table th {
    font-size: 15px;
  }

  .last-operation-table td {
    padding: 20px 16px;
  }

  /* Ячейки с датой */
  .last-operation-table .last-operation-date-head,
  .last-operation-table .last-operation-date {
    width: 19.4%;
  }

  .last-operation-table .last-operation-date {
    font-size: 14px;
  }

  /* Ячейки с названием */
  .last-operation-table .last-operation-name {
    font-size: 14px;
  }

  /* Ячейки с услугами */
  .last-operation-table .last-operation-service {
    padding-left: 32px;
    font-size: 14px;

    background-position: left center;
    background-size: 20px;
  }

  /* Ячейки с суммой */
  .last-operation .last-operation-amount {
    font-size: 18px;
  }

  /* Ячейки с кнопкой повторить */
  .last-operation .last-operation-repeat {
    font-size: 14px;

    background-size: 20px;
  }
}

/* min-width: 768px */
@media screen and (max-width: 1023px) {
  .last-operation-table td {
    padding: 15px 15px;
  }

  .last-operation-table .last-operation-date-head, 
  .last-operation-table .last-operation-date {
    width: 15.4%;
    padding-left: 15px;

    text-align: center;
  }

  .last-operation-table .last-operation-name-head, 
  .last-operation-table .last-operation-name {
    width: 30%;
    padding-left: 15px;
  }
  
  .last-operation-table .last-operation-service-head,
  .last-operation-table .last-operation-service {
    padding-left: 15px;
    width: 30%;
    
    background: none;
  }

  .last-operation .last-operation-amount {
    font-size: 16px;
  }
  
  .last-operation-table .last-operation-repeat {
    padding-left: 39px;
    
    font-size: 14px;

    background-size: 16px;
  }
}

/* min-width: 480px */
@media screen and (max-width: 767px) {
  .last-operation-table-wrapper {
    max-width: 480px;
    margin: 17px auto 0;
  }

  .last-operation-table thead {
    display: none;
  }

  .last-operation-table tbody tr {
    display: block;

    border-top: 0;
    border-bottom: 2px solid #b0b8ff;
  }

  .last-operation-table tbody tr:last-child {
    border-bottom: 0;
  }

  .last-operation-table td {
    display: block;
    padding: 0;

    text-align: left;
  }

  .last-operation-table td::before {
    margin-right: 10px;

    color: #47A9FF;
    font-size: 16px;
    font-weight: 700;
  }

  /* Дата */
  .last-operation-table .last-operation-date {
    width: 100%;
    padding: 10px 10px 5px;

    font-size: 15px;
    color: #233D9A;
    font-weight: 500;
    text-align: left;
  }

  .last-operation-table .last-operation-date::before {
    content: "Дата: ";
  }

  /* Наименование */
  .last-operation-table .last-operation-name {
    width: 100%;
    padding: 5px 10px;
    
    font-size: 15px;
    color: #233D9A;
    font-weight: 500;
  }

  .last-operation-table .last-operation-name::before {
    content: "Наименование: ";
  }

  /* Услуга / товар / оплата */
  .last-operation-table .last-operation-service {
    width: 100%;
    padding: 5px 10px;
    
    font-size: 15px;
    color: #233D9A;
    font-weight: 500;
  }

  .last-operation-table .last-operation-service::before {
    content: "Услуга / товар / оплата: ";
  }

  /* Сумма */
  .last-operation-table .last-operation-amount {
    width: 100%;
    padding: 5px 10px;
    
    font-size: 15px;
    color: #233D9A;
    font-weight: 500;
  }

  .last-operation-table .last-operation-amount::before {
    content: "Сумма: ";
  }

  /* Повторить */
  .last-operation-table .last-operation-repeat {
    width: 100%;
    padding: 12px 10px 10px;

    font-size: 15px;
    color: #233D9A;
    font-weight: 500;
    text-align: center;
    
    background-position-x: 37%;
  }
}

/* min-width: 320px */
@media screen and (max-width: 479px) {
  .last-operation-table td {
    display: flex;
    flex-direction: column;
  }

  .last-operation-table td::before {
    margin-bottom: 5px;
  }

  .last-operation-table .last-operation-repeat {
    background-position-x: 31%;
  }
}