.slider {
  position: relative;

  max-width: 1088px;
  width: 74.419%;

  border-radius: 20px;
  overflow: hidden;
}

/* Список слайдов */
.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 315px;
  padding: 0 75px;
  
  border-radius: 20px;
}

/* Переключатели слайдов */
.slider-control {
  position: absolute;
  top: 46%;

  width: 14px;
  height: 29px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slider-control:focus {
  outline: 2px solid #005ecc;
}

.slider-control-left {
  left: 3px;

  background: url("../../img/slider/slider-arrow.svg") no-repeat center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-control-right {
  right: 3px;

  background: url("../../img/slider/slider-arrow.svg") no-repeat center;
}

/* 
  Отдельные стили для каждого слайда
*/

/* слайд 1: "Личный кабинет в вашем смартфоне" */
.slider-mobile-pay {
  position: relative;

  /* background: #ffffff url("../../img/slider/ric-slider.svg") no-repeat 567px 18px; */
  background: #ffffff url("../../img/slider/ric-slider.svg") no-repeat right bottom;
}

/* Контент слайда "Личный кабинет в вашем смартфоне" */
.slider-mobile-pay .slider-item-inner {
  padding-right: 345px;
}

/* Заголовок слайда "Личный кабинет в вашем смартфоне" */
.slider-mobile-pay .slider-heading {
  margin-top: 53px;
}

/* Общий заголовок слайда */
.slider-heading {
  display: inline-block;
  
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: #233D9A;
  vertical-align: middle;
}

/* Текст внутри слайда "Личный кабинет в вашем смартфоне" */
.slider-mobile-pay .slider-text {
  margin: 28px 0 0 0;
}

/* Общий стили текста внутри слайда */
.slider-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #233D9A;
}

/* Обертка для кнопок на слайде */
.slider-btn-wrapper {
  margin-top: 23px;
}

/* Отступ от кнопки на слайде "Личный кабинет в вашем смартфоне" */
.slider-mobile-pay .slider-btn {
  margin-right: 12px;
}

/* Общие стили кнопок на слайдах */
.slider-btn {
  display: inline-block;
  min-width: 110px;
  max-width: 110px;
  padding: 8px 10px;

  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  word-break: break-word;

  border-radius: 10px;
}

/* Оранжевая кнопка с оранжевой тенью */
.slider-btn.orange {
  background-color: #F86512;
  -webkit-box-shadow: 0px 15px 20px #F865121A;
          box-shadow: 0px 15px 20px #F865121A;
}

/* Голубая кнопка с голубой тенью */
.slider-btn.blue {
  background-color: #47A9FF;
  -webkit-box-shadow: 0px 15px 20px #47A9FF33;
          box-shadow: 0px 15px 20px #47A9FF33;
}

/* min-width: 1550px */
@media screen and (max-width: 1919px) {
  /* Слайдер на главной */
  .slider {
    width: 71%;
  }

  .slider-item {
    padding: 0 40px;
  }

  /* Слайд: "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay {
    background-position-y: 44px;
    background-size: 45%;
  }

  .slider-mobile-pay .slider-item-inner {
    padding-right: 217px;
  }
}

/* min-width: 1220px */
@media screen and (max-width: 1549px) {
  /* слайдер на главной */
  .slider {
    width: 65%;
  }

  .slider-item {
    min-height: 295px;
  }

  /* Заголовок на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-heading {
    margin-top: 41px;

    font-size: 32px;
    line-height: 36px;
  }

  .slider-text {
    font-size: 14px;
  }

  /*  Слайд: "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay {
    background-position-y: 87px;
    background-position-x: 111%;
    background-size: 41%;
  }

  /* Контент на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-item-inner {
    padding-right: 117px;
  }
}

/* min-width: 768px */
@media screen and (max-width: 1023px) {
  .slider {
    width: 100%;
  }

  .slider-item {
    min-height: 265px;
  }

  /* Слайд: "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-heading {
    margin-top: 30px;
  }
}

/* min-width: 480px */
@media screen and (max-width: 767px) {
  .slider-item {
    min-height: 240px;
  }

  /* Переключатели слайдов */
  .slider-control {
    top: 40%;
  }

  /* Слайд: "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay {
    background: none;
  }

  /* Контент на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-item-inner {
    padding-right: 0;
  }

  /* Заголовок на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-heading {
    margin-top: 15px;

    font-size: 28px;
    line-height: 30px;
  }

  /* Текст на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-text {
    margin: 19px 0 0 0;
  }

  .slider-btn-wrapper {
    margin-top: 18px;
  }
}

/* min-width: 320px */
@media screen and (max-width: 479px) {
  .slider-item {
    min-height: 256px;
    padding: 0 30px;
  }

  /* Слайд: "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-item-inner {
    text-align: center;
  }

  /* Заголовок на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-heading {
    font-size: 23px;
    line-height: 25px;
  }

  .slider-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* Кнопки на слайде "Личный кабинет в вашем смартфоне" */
  .slider-mobile-pay .slider-btn {
    margin-right: 0;
  }
}